.cta {
  padding-top: 5px;
  padding-bottom: 25px;
}

.cta > h1 {
  color: var(--color-dark-gray);
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0px;
}

.cta > p {
  color: var(--color-gray);
  font-size: 20px;
  max-width: 600px;
  display: inline-block;
  margin: 20px 0 45px 0;
}

.cta > div {
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.video-react {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.mobileCTA {
  text-align: center;
  margin: 0px;
}

/* From footer */
.mobileCTA > ul {
  list-style-type: none;
  margin: 10px 0px 25px 0px;
  padding: 0;
  margin-bottom: 4rem;
}

.mobileCTA > ul > li {
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
}

.mobileCTA > ul > li > a {
  padding: 10px 20px 10px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.1s ease-in-out;
  border-radius: 25px;
  text-decoration: none;
}

.mobileCTA > ul > li:first-child > a {
  background-color: var(--color-dappnode);
  color: #fff;
}

.mobileCTA > ul > li:first-child > a:hover {
  background-color: var(--color-dappnode-hover);
}

.mobileCTA > ul > li:last-child > a {
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
}

.mobileCTA > ul > li:last-child > a:hover {
  opacity: 0.7;
}
