* {
  font-family: Muli, Arial, sans-serif;
}

a {
  color: #2FBCB2;
}

form {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  padding: 1rem;
  font-family: Overpass, Arial, sans-serif;
  font-weight: 200;
  text-align: center;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
}

h4, h6 {
  padding: 0.5rem;
  font-family: Muli, Arial, sans-serif;
  font-weight: 200;
  text-align: center;
}


input {
  background-color: #bebebe;
  border-color: #2FBCB2;
  color: #222222;
  margin: 0.5rem;
}

li {
  margin: 1rem;
  display: block;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

ol {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 2rem;
}

thead {
    background-color: rgba(195, 244, 235, 0.7);
}

.table th {
  border: 0px;
}

.table td {
  border-color: #222222;
}

#block {
  flex-wrap: wrap;
  padding-left: 0px;
}

#intro-text {
  width: 50vw;
  margin: 1rem;
 /** background-color: #2fbcb37a; **/
}

.amount {
  display: flex-wrap;
  justify-content: center;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

.btn {
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 10vw;
  height: 2.5rem;
  align-self: center;
}

.color-main-accent {
  color: rgb(195, 244, 235);
}

.container-fluid {
  padding: 0px;
  margin: auto;
}

.blockColumn {
  flex-wrap: wrap;
}

.donationColumn {
  color: white;
  justify-content: center;
  text-align: center;
  max-width: 40vw;
  margin: 1.5rem;
}

.header {
  min-height: 40vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url('/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: sticky;
}

.leaderboard {
  overflow-x: auto;
  background-image: url('/img/dappnode-background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: sticky;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 200px;
}

.icon-bottom {
  width: 200px;
  height: 200px;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.media {
  display: flex;
  max-width: 450px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding-bottom: 0.5rem;
}



.row, .flex-row {
  max-width: 100vw;
  padding-bottom: 1rem;
}

.Entry {
  background-color: #ffffff70;
  color: #2c2c2c;
  border-color: #bebebe;
}


.Search {
  padding: 0px;
  margin: 0px;
}

.typelogo {
  padding: 2rem 2rem 2rem 2rem;
  width: 380px;
}

.typelogo-donate {
  padding: 1rem 0rem 1rem 0rem;
  width: 20vh;
}

.margin {
  margin: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.qr-code {
  width: 15vw;
  height: auto;
  padding: 0.5rem;
}

.word-wrap {
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: #000000;
  text-overflow: clip;
}

.wrap {
  flex-wrap: wrap;
}

.Collapsible {
  text-align: center;
  min-height: 4rem;
  max-width: 100vw;
}

.Collapsible__trigger {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  color: whitesmoke;
  background-color: #28a098;
}

.Collapsible__contentOuter {
  padding-top: 2rem;
}

.intro-column {
  margin-left: 10vw;
}

.intro-column h2 {
  color: white;
  font-size: 2.2rem;
  text-align: left;
  line-height: 0.1rem;
}

.intro-column a {
  align-self: flex-start;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: Overpass, Arial, Helvetica, sans-serif;
  height: 3.4rem;
  padding: 10px 20px 10px 20px;
}

.intro-column .btn-light, .btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light:visited {
  color: whitesmoke;
  background-color: #2FBCB2;
  border: 0px;
  border-color: #2FBCB2;
  border-radius: 1rem;
  box-shadow: #2FBCB2;
}

.content-section  {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.content-section h1 {
  padding-top: 2rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.content-section h1 .special {
  color: #2FBCB2;
}

.content-section p {
  text-align: center;
}

.content-section p .special {
  color: #2FBCB2;  
  font-weight: 600;
}

.content-section li .special {
  color: #2FBCB2;  
  font-weight: 600;
}


.content-section .content-text p {
  text-align: left;
  min-width: 40vw;
}

.content-section .content-text li {
  text-align: left;
  min-width: 40vw;
}

.content-section .content-text ol li {
  text-align: left;
  min-width: 200px;
}

em {
  color: #2FBCB2;
  font-weight: 600;
  font-style: normal;
}

.middleBlock {
  padding-top: 2rem;
  background-color: #2FBCB2;
}

.middleBlock h1 {
  font-size: 4rem;
  padding-top: 2rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.middleBlock h1 .special {
  color: rgb(195, 244, 235);
}


.card {
  border: 0px;
  min-width: 200px;
  max-width: 200px;
}

.card-header {
  background-color: whitesmoke;
  border: 0px;
}

.card-body {
  font-weight: 600;
  background-color: whitesmoke;
  color: rgb(209, 209, 209);
}

.card-text {
  font-size: 1.5rem;
}

.bg-blue {
  background-color: #2FBCB2;
}

.bg-light-grey {
  background-color: #f0f0f0;
}

.learn-more {
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: Overpass, Arial, sans-serif;
  padding: 2rem;
}

.copyright {
  color: whitesmoke;
  font-family: Overpass, Arial, sans-serif;
  font-size: 0.7rem;
}

.last-section {
  min-height: 5vh;
  text-align: center;
}

.particles {
  position: absolute;
  width: 99vw;
  height: 100vh;
  z-index: -1;
}
