/* Supports section styling */
.supports {
  background-color: rgb(247, 249, 251);
  padding-bottom: 45px;
}

.supports > a {
  text-decoration: none;
  margin-top: 5px;
}

.supports > a {
  padding-top: 10px;
  display: inline-block;
}

.supports > a > img {
  /* Fixed height for images, using fixed width throws off EF + ECF logos. */
  padding-top: 20%;
  height: 50px;
  width: 90px;
  fill: #fff;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.3;
}

.supports > img {
  height: 50px;
  width: 60px;
  fill: #fff;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.3;
}

.supports > p:first-child,
.supports > a > p {
  color: #b3bec7;
  font-size: 14px;
  margin: auto;
  width: 40%;
  margin-top: 10px;
}

/* Responiveness for smaller display sizes: */
@media screen and (max-width: 480px) {
  .supports > a > img {
    margin-left: 5px;
    margin-right: 5px;
  }
}
